extends layout

block content
	script(src='http://code.jquery.com/jquery.js')
	script(src='/javascripts/find.js'))
	include _navbar

	div(id="main")
		div(id="about_container")
			| 1.	 Search for Lyrics
			br
			| 2.	Highlight words you like
			br
			| 3.	Find a new song with the title matching the words you picked
			br
			h3 It's that simple!